// Variables
$background: #2980b9;
$darkColor: #34495e;
$lightColor: #ecf0f1;

// Body
body {
    background-color: $background;

    // Board
    .board {
        .board-title {
            font-size: 24px;
            color: white;
            padding-bottom: 10px;
            border-bottom: 2px solid $darkColor;
        }

        .board-btn {
            background-color: $darkColor;
            color: white;
            border: 0;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;

            &.small-btn {
                font-weight: 500;
                padding: 8px 15px;
            }
        }

        // Column
        .column {
            position: relative;
            float: left;
            width: 300px;
            margin: 20px 10px;
            padding: 10px;
            background-color: $lightColor;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
            
            .column-title {
                display: inline-block;
                margin: 0;
                padding-bottom: 5px;
                font-size: 21px;
                border-bottom: 1px solid $darkColor;
                width: 100%;
            }

            .btn-delete {
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                border: 0;
                color: white;
                background-color: $darkColor;
                cursor: pointer;
            }

            // Card 
            .column-card-list {
                list-style-type: none;
                padding: 0;

                .card-description {
                    background-color: white;
                    padding: 10px;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}